<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <title>Trang cá nhân</title>
</head>

<body>
    <div class="container">
        <h3>Thay đổi thông tin cá nhân</h3>
        <form>
            <div class="form-group">
                <label for="name">Email:</label>
                <input type="text" name="email" id="name" class="form-control" placeholder="Your email name here" value="vanpho01@gmail.com">
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Your Name here" value="Pho Nguyen">
            </div>
            <div class="form-group">
                <label for="name">Phone number:</label>
                <input type="text" name="phone" id="name" class="form-control" placeholder="Your Phone number here" value="027183471234">
            </div>
            <div class="form-group">
                <label for="name">Avatar:</label>
                <input type="file" name="avatar" id="avatar" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Cập nhật</button>
        </form>
    </div>
</body>

</html>
<script src="reload/reload.js"></script>